version: '3.8'

services:
  frontend:
    image: frontend:v1
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - REACT_APP_API_URL=http://backend:5000

  backend:
    image: backend:v1
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    networks:
      - app-network
    environment:
      - DATABASE_URL=postgresql://postgres:123456@postgres:5432/app_db

  postgres:
    image: postgres:15
    container_name: postgres_app
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
