services:
  postgres:
    image: ./db
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: postgress
      POSTGRES_PASSWORD: postgress
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    container_name: app-backend
    depends_on:
      - postgres
    environment:
      DB_USER: postgress
      DB_PASSWORD: postgress
      DB_HOST: db
      DB_NAME: db
      DB_PORT: 5432
    ports:
      - "5000:5000"
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge