apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: app-desafio
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: frontend
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30002