apiVersion: v1
kind: Service
metadata:
  name: myapp
  namespace: app-frontend
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - name: myapp
      protocol: TCP
      port: 80
      targetPort: 80
