version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"    # http://localhost
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "5000:5000"  # http://localhost:5000
    environment:
      - DB_USER=postgres
      - DB_HOST=postgres
      - DB_NAME=app_db
      - DB_PASSWORD=123456
      - DB_PORT=5432
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  postgres_data: {}

networks:
  app-network:
    driver: bridge